{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 offset-sm-3 mt-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title">Sign In</h4>
                </div>
                <div class="card-body">
                    {# {{ errors | json_encode }} #}

                    <form action="{{ path_for('auth.signin') }}" method="post">
                        <div class="form-group">
                            <label for="">E-mail</label>
                            <input type="text" class="form-control{{ errors.email ? ' is-invalid' : '' }}" name="email" id="email"  placeholder="" value="{{ old.email }}">
                            {% if errors.email %}
                                <div class="invalid-feedback">
                                    {{ errors.email | first }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" name="password" id="password" placeholder="" >
                            {% if errors.password %}
                                <div class="invalid-feedback">
                                    {{ errors.password  | first }}
                                </div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary">Sign In</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}